@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
	font-family: 'TT Lakes', sans-serif;
	line-height: 18px;
	letter-spacing: 0.2px;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #F8F8F8;
	overflow: hidden;
	overflow-y: scroll;

}

.header__upper-menu {
	height: 88px;
	margin-bottom: 24px;
	background-color: #fff;
	border-bottom: 1px solid #D9FFF5;
	gap: 16px;
	padding-inline: 16px;
	align-items: center;
}

.upper-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.upper-menu__logo {
	margin-right: auto;
}

.upper-menu__divider2 {
	display: block;
	background-image: url(../img/divider.svg);
	background-repeat: no-repeat;
	width: 2px;
	height: 32px;
	background-position: 50% 50%;
	background-size: cover;

}

.upper-menu__divider {
	display: none;

}

.upper-menu__button-call {
	display: none;
}

.upper-menu__button-repair {
	display: block;
	background-image: url(../img/repair.svg);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-position: 50% 50%;
	background-size: contain;
}

.upper-menu__link-chat {
	display: none;
}

.upper-menu__link-profile {
	display: none;
}

.upper-menu__button-burger {
	order: -6;
	background-image: url(../img/burger.svg);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-position: 50% 50%;
	background-size: contain;
}

.upper-menu__link-checkstatus {
	display: block;
	background-image: url(../img/checkstatus.svg);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-position: 50% 50%;
	background-size: contain;
}

.title__name {
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.6px;
	margin: 0;
	margin-bottom: 24px;
	margin-inline: 16px;
	height: 40px;
}

.title__name::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 4px;
	height: 40px;
	margin-left: -16px;
	background-color: #41F6D7;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.actions {
	font-weight: 500;
	display: none;
}



.container__slide-menu {
	margin-bottom: 24px;
	padding-inline: 16px;
}

.container__slide-menu::after {
	content: url('../img/fade.svg');
	display: inline-block;
	position: absolute;
	right: 0;
}

.container__slide-menu::before {
	content: url('../img/fade.svg');
	display: inline-block;
	position: absolute;
	left: 0;
	transform: scale(-1, 1);
}

.slide-menu {
	font-size: 16px;
	font-weight: 500;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	color: #7E7E82;
	overflow-x: scroll;
	scrollbar-width: none;
}

.slide-menu__link {
	box-sizing: border-box;
	padding: 8px;
	padding-inline: 16px;
	border: 2px solid transparent;
}

.slide-menu__link--active {
	border: 2px solid #B8FFEC;
	border-radius: 6px;
	background-color: #fff;
}


.article__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px;
	gap: 16px;
	margin-bottom: 35px;
}

.content__text {
	font-size: 14px;
	text-align: left;
	white-space: preserve-breaks;
	
	margin: 0;
	margin-bottom: 16px;
	height: 90px;
	overflow: hidden;
}

.content__link-more {
	display: block;
	font-weight: 500;
	align-self: flex-start;
	background-color: transparent;
	border: none;
	font-family: 'TT Lakes';
	font-size: 16px;

}

.content__link-more::before {
	content: url('../img/expand.svg');
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 24px;
	margin-right: 8px;
}

/* .article__img {
	background-image: url(../img/MG3223.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100vw;
	aspect-ratio: 320 / 176;
	background-size: cover;
	margin-bottom: 35px;
} */

.article__img {
	width: 100vw;
}

button {
	background-color: transparent;
	border: none;
	font-family: 'TT Lakes';
	font-size: 16px;
}

.slide-menu__link:hover {
	border: 2px solid #B8FFEC;
	border-radius: 6px;
}

.upper-menu > a:hover, 
.upper-menu > button:hover, 
.content__link-more:hover, 
.actions__link-repair:hover, 
.actions__link-checkstatus:hover {
	filter: brightness(0.7);
}

.slide-menu a {
	color: #7E7E82;
	text-decoration: none;

}

.actions__link-repair, .actions__link-checkstatus {
	color: black;
	text-decoration: none;
}
button {
	padding-block: 0;
    padding-inline: 0;
}


@media (min-width: 768px) {

	body {
		line-height: 20px;
	}

	.header__upper-menu {
		gap: 20px;
		padding-inline: 20px;
	}

	.upper-menu__divider {
		display: block;
		background-image: url(../img/divider.svg);
		background-repeat: no-repeat;
		width: 2px;
		height: 32px;
		background-position: 50% 50%;
		background-size: cover;
	}

	.upper-menu__divider2 {
		display: block;
		order: -5;
	}

	.upper-menu__logo {
		margin-right: auto;
	}

	.upper-menu__button-call {
		display: block;
		background-image: url(../img/call.svg);
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		background-position: 50% 50%;
		background-size: contain;
	}

	.upper-menu__link-chat {
		display: block;
		background-image: url(../img/chat.svg);
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		background-position: 50% 50%;
		background-size: contain;
	}

	.upper-menu__link-profile {
		display: block;
		background-image: url(../img/profile.svg);
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		background-position: 50% 50%;
		background-size: contain;
	}

	.upper-menu__button-burger {
	}

	.upper-menu__button-repair {
		padding-inline: 0;
	}
	
	.upper-menu__divider {
		display: block;
	}

	.upper-menu__link-checkstatus {
	}

	.title__name {
		margin-inline: 24px;
	}

	.title__name::before {
		margin-left: -24px;
	}

	.container__slide-menu {
		margin-bottom: 24px;
		padding-inline: 24px;
	}

	.article__container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		min-width: 720px;
		gap: 48px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.content__text {
		font-size: 14px;
		text-align: left;
		white-space: preserve-breaks;
		
		margin: 0;
		margin-bottom: 10px;
		height: 160px;
		overflow: hidden;
		max-width: 312px;
	}

	.article__img {
		max-width: 360px;
		border-radius: 5px;
		margin-bottom: 0;
	}

}




@media (min-width: 1120px) {
	.header {
		display: none;
	}

	.container__title {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 42px;
		margin-bottom: 8px;
	}

	.title__name {
		margin-bottom: 0;
		margin-right: auto;
	}

	.actions {
		display: flex;
		gap: 32px;
	}

	.actions__link-repair {
		display: block;
		margin-left: auto;
		padding-right: 48px;
		padding-top: 8px;
		padding-bottom: 8px;
		background: url(../img/repair.svg) no-repeat 100%;

	}

	.actions__link-checkstatus {
		display: block;
		margin-right: 25px;
		padding-right: 48px;
		padding-top: 8px;
		padding-bottom: 8px;
		background: url(../img/checkstatus.svg) no-repeat 100%;
	}

	.actions__link-name {
		display: block;
		vertical-align: middle;
		text-align: left;
		line-height: 24px;
	}

	.slide-menu__link {
		padding-inline: 21px;
	}

	.slide-menu {
		flex-wrap: wrap;
		
	}

	.container__slide-menu {
		margin-bottom: 16px;
	}

	.article__container {
		align-items: flex-start;
		min-width: 0;
		gap: 36px;
	}

	.content__text {
		font-size: 14px;
		text-align: left;
		white-space: preserve-breaks;
		
		margin: 0;
		margin-bottom: 14px;
		height: 160px;
		overflow: hidden;
		max-width: 490px;
	}

	.article__img {
		max-width: 531px;
		border-radius: 5px;
		margin-bottom: 0;
	}

}